@import "reset.css";
@import "normalize.css";

/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/
@font-face {
    font-family: 'PlayfairDisplay Bold';
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans Regular';
    src: url('../fonts/WorkSans/WorkSans-Regular.woff2') format('woff2'),
    url('../fonts/WorkSans/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans Medium';
    src: url('../fonts/WorkSans/WorkSans-Medium.woff2') format('woff2'),
    url('../fonts/WorkSans/WorkSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/*------------------------------------*\
  #Sticky footer
\*------------------------------------*/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 160px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
    line-height: 160px;
    background-color: #ebebeb;
}

/*------------------------------------*\
  #Common styles
\*------------------------------------*/

body{
    font-family: "WorkSans Regular";
    background-color: #f6f6f6;
    color: #171717;
    letter-spacing: 0.025em;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

header .navbar-nav .nav-item .nav-link{
    font-size: 0.875em;
    line-height: 6;
    color: #5f5f5f;
    text-transform: uppercase;
    padding: 8px 17px;
}

header .navbar-nav .nav-item:last-child .nav-link{
    padding-right: 0;
}

header .navbar-nav .nav-item.active .nav-link{
    color: #0e0e0e;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

/*------------------------------------*\
  #BLOG LIST
\*------------------------------------*/
.blog-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
}

.blog-list__item{
    min-height: 425px;
    width: 31.5%;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(216,216,216,0.4);
    -moz-box-shadow: 0px 0px 30px 0px rgba(216,216,216,0.4);
    box-shadow: 0px 0px 30px 0px rgba(216,216,216,0.4);
    margin: 15px;
}

.blog-list__item__content{
    min-height: 188px;
    padding: 20px 25px;
}

.blog-list__item__img {
    -o-object-fit: cover;
    object-fit: cover;
}

.blog-list__item__content h3{
    font-size: 1.250em;
    line-height: 1.25;
    font-family: "PlayfairDisplay Bold";
    margin-bottom: 15px;
}

.blog-list__item__content h3 a{
    color: #171717;
}

.blog-list__item__content__date{
    margin-bottom: 15px;
    font-family: "WorkSans Medium";
    font-size: 0.750em;
    line-height: 1.25;
    text-transform: uppercase;
}

.blog-list__item__content__summary{
    font-size: 0.938em;
    line-height: 1.25;
    letter-spacing: 0.005em;
    color: #5f5f5f;
}

.bottom-section{
    background-color: #fff;
}

.load-more-btn {
    font-size: 0.875em;
    line-height: 1.2;
    color: #171717;
}

.bottom-section .row{
    min-height: 100px;
}

.blog-list__item__category{
    top: -40px;
    left: 10px;
    background-color: #252525;
    color: #fff;
    font-family: "WorkSans Medium";
    font-size: 0.750em;
    line-height: 30px;
    width: 100%;
    max-width: 90px;
}


/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
.footer-social{
    padding-top: 50px;
}

.footer-social__icons{
    display: block;
    margin: 0 7px;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transition: background-position 0.3s ease-in-out;
    -moz-transition: background-position 0.3s ease-in-out;
    -o-transition: background-position 0.3s ease-in-out;
    -ms-transition: background-position 0.3s ease-in-out;
    transition: background-position 0.3s ease-in-out;
}

.footer-social__icons.facebook{
    width: 8px;
    height: 15px;
    background: url('../images/sprites.png') 0 0;
}

.footer-social__icons.twitter{
    width: 16px;
    height: 13px;
    background: url('../images/sprites.png') -8px 0;
}

.footer-social__icons.google-plus{
    width: 15px;
    height: 16px;
    background: url('../images/sprites.png') -24px 0;
}

.footer-social__icons.behance{
    width: 18px;
    height: 11px;
    background: url('../images/sprites.png') -39px 0;
}

.footer-social__icons.pinterest{
    width: 16px;
    height: 16px;
    background: url('../images/sprites.png') -57px 0;
}

.footer-social__icons.instagram{
    width: 16px;
    height: 16px;
    background: url('../images/sprites.png') -73px 0;
}

.footer-social__icons.facebook:hover{
    background: url('../images/sprites.png') 0 -16px;
}

.footer-social__icons.twitter:hover{
    background: url('../images/sprites.png') -8px -19px;
}

.footer-social__icons.google-plus:hover{
    background: url('../images/sprites.png') -24px -16px;
}

.footer-social__icons.behance:hover{
    background: url('../images/sprites.png') -39px -21px;
}

.footer-social__icons.pinterest:hover{
    background: url('../images/sprites.png') -57px -16px;
}

.footer-social__icons.instagram:hover{
    background: url('../images/sprites.png') -73px -16px;
}

/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/
@media (min-width: 481px){
    .blog-list {
        height: 1520px;
        margin: 90px 0;
    }

    .blog-list::before,
    .blog-list::after {
        content: "";
        flex-basis: 100%;
        width: 0;
        order: 2;
    }
    .blog-list__item:nth-child(2) .blog-list__item__img,
    .blog-list__item:nth-child(7) .blog-list__item__img,
    .blog-list__item:nth-child(9) .blog-list__item__img {
        min-height: 370px;
    }
}

@media (min-width: 768px){
    .blog-list__item:nth-child(3n+1) {
        order: 1;
    }

    .blog-list__item:nth-child(3n+2) {
        order: 2;
    }

    .blog-list__item:nth-child(3n)   {
        order: 3;
    }

    .blog-list__item:nth-child(3n+1){
        margin-left: 0;
    }

    .blog-list__item:nth-child(3n){
        margin-right: 0;
    }
}

@media (min-width: 1230px){
    .container.wrapper {
        max-width: 1200px;
    }
}

@media (max-width: 1199px){
    .blog-list__item__content {
        min-height: 208px;
        padding: 20px;
    }
}

@media (max-width: 991px){
    .blog-list{
        height: 1555px;
        margin: 50px 0;
    }

    .blog-list__item__content {
        min-height: 243px;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .blog-list__item{
        width: 47%;
    }
    .blog-list__item:nth-child(2n+1) {
        order: 1;
    }

    .blog-list__item:nth-child(2n) {
        order: 2;
    }

    .blog-list__item:nth-child(2n+1){
        margin-left: 0;
    }

    .blog-list__item:nth-child(2n){
        margin-right: 0;
    }
    .blog-list {
        height: 2665px;
    }
}

@media (max-width: 767px){
    .blog-list {
        margin: 30px 0;
    }

    header .navbar-nav .nav-item .nav-link{
        line-height: 1.5;
    }

    header .navbar-nav .nav-item{
        text-align: center;
    }
    .navbar-light .navbar-toggler {
        padding: 10px;
    }
    .navbar-light .navbar-toggler:focus {
        outline: none;
    }
    header .navbar-collapse{
         border-top: 1px solid #5f5f5f;
    }
    header .navbar-nav{
        padding: 10px 0;
    }
}

@media (max-width: 575px){
    body {
        margin-bottom: 100px;
    }

    footer{
        height: 100px;
        line-height: 100px;
    }

    .footer-social {
        padding-top: 40px;
    }
}

@media (max-width: 480px){
    .blog-list__item{
        width: 100%;
        min-height: 400px;
    }
    .blog-list {
        height: auto;
    }
    .blog-list__item__content {
        min-height: 190px;
    }

}
