/*@import "reset.css";*/
/*@import "normalize.css";*/

/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans Regular';
    src: url('../fonts/WorkSans/WorkSans-Regular.woff2') format('woff2'),
    url('../fonts/WorkSans/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans Medium';
    src: url('../fonts/WorkSans/WorkSans-Medium.woff2') format('woff2'),
    url('../fonts/WorkSans/WorkSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/*------------------------------------*\
  #Sticky footer
\*------------------------------------*/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 160px; /* Margin bottom by footer height */
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px; /* Set the fixed height of the footer here */
    line-height: 160px; /* Vertically center the text there */
    background-color: #ebebeb;
}

/*------------------------------------*\
  #Common styles
\*------------------------------------*/

body{
    font-family: "WorkSans Regular";
    background-color: #f6f6f6;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

header .navbar-nav .nav-item .nav-link{
    /*font-family: "WorkSans Regular";*/
    font-size: 0.875em;
    letter-spacing: 0.025em;
    line-height: 6;
    color: #5f5f5f;
    text-transform: uppercase;
    padding: 8px 17px;
}

header .navbar-nav .nav-item:last-child .nav-link{
    padding-right: 0;
}

header .navbar-nav .nav-item.active .nav-link{
    color: #0e0e0e;
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
.footer-social{
    padding-top: 50px;
}

.footer-social__icons{
    display: block;
    /*width: 18px;*/
    /*height: 18px;*/
    margin: 0 7px;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transition: background-position 0.3s ease-in-out;
    -moz-transition: background-position 0.3s ease-in-out;
    -o-transition: background-position 0.3s ease-in-out;
    -ms-transition: background-position 0.3s ease-in-out;
    transition: background-position 0.3s ease-in-out;
}

.footer-social__icons.facebook{
    width: 8px;
    height: 15px;
    background: url('../images/sprites.png') 0 0;
}

.footer-social__icons.twitter{
    width: 16px;
    height: 13px;
    background: url('../images/sprites.png') -8px 0;
}

.footer-social__icons.google-plus{
    width: 15px;
    height: 16px;
    background: url('../images/sprites.png') -24px 0;
}

.footer-social__icons.behance{
    width: 18px;
    height: 11px;
    background: url('../images/sprites.png') -39px 0;
}

.footer-social__icons.pinterest{
    width: 16px;
    height: 16px;
    background: url('../images/sprites.png') -57px 0;
}

.footer-social__icons.instagram{
    width: 16px;
    height: 16px;
    background: url('../images/sprites.png') -73px 0;
}

.footer-social__icons.facebook:hover{
    background: url('../images/sprites.png') 0 -16px;
}

.footer-social__icons.twitter:hover{
    background: url('../images/sprites.png') -8px -19px;
}

.footer-social__icons.google-plus:hover{
    background: url('../images/sprites.png') -24px -16px;
}

.footer-social__icons.behance:hover{
    background: url('../images/sprites.png') -39px -21px;
}

.footer-social__icons.pinterest:hover{
    background: url('../images/sprites.png') -57px -16px;
}

.footer-social__icons.instagram:hover{
    background: url('../images/sprites.png') -73px -16px;
}

/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/
@media (min-width: 1230px){
    .container.wrapper {
        max-width: 1200px;
    }
}
